* {
    padding: 0%;
    margin: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0px 5px 20px black;
    position: sticky;
    z-index: 999;
    top: 0%;
    left: 0%;
}

.nav-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-r img {
    height: 40px;
    width: 40px;
}

.nav-r div {
    padding-left: 20px;
    color: black;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.nav-r:hover div {
    text-shadow: 0px 5px 15px orange;
    font-size: 22px;
}

.nav-bar-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-left li {
    list-style: none;
    padding: 0px 20px;
}

.nav-bar-left:last-child img {
    height: 30px;
    width: 30px;
}

.nav-bar-left li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
}

ul li::after {
    content: "";
    background: orange;
    width: 0%;
    height: 2px;
    transition: 0.5s;
    display: block;
    margin: auto;
}

ul li::before {
    content: "";
    background: orange;
    width: 0%;
    height: 2px;
    transition: 0.5s;
    display: block;
    margin: auto;
}

ul li:hover::after {
    width: 100%;
}

ul li:hover::before {
    width: 100%;
}

#prod_d{
margin: 20px;
display: flex;
justify-content: space-between;
flex-direction: row;
}

#prod_d .single_img{

    width: 40%;
    height: 50px;
}

.gr_img{
    display: flex;
    justify-content: space-between;
}
.group_img1{
    border: 3px solid #3e6962;
    box-sizing: border-box;
    border-radius: 12px;
}
#main_img{
    border: 3px solid #3e6962;
    box-sizing: border-box;
    border-radius: 40px;  
}
#main_img:hover{
    box-shadow: 1px 0px 10px black;
    opacity: 0.96;
}
.group_img1:hover{
    box-shadow: 1px 0px 10px black;
    opacity: 0.8;
}


.single_pro_d{
    width: 45%;
}
.single_pro_d h3{
    text-align: left;
    padding-top: 40px;
    font-size: 200%;
    padding-bottom: 20px;
}
.single_pro_d h2{
    text-align: left;
    padding-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;
}

#select_size_of_pro{
    width: 60%;
    outline: none;
    height: 30px;
    background-color: #cf8d29;
    text-align: center;
    border-radius: 12px;
}
.quantite{
    margin-top: 20px;
    height: 20px;
    width: 10%;
    background-color: #cf8d29;
    outline: none;
    margin-bottom: 15px;
    border-radius: 12px;
    text-align: center;
}
form p{
    margin-bottom: 16px;
    letter-spacing: 2px;
}

form button{
    background-color: #cf8d29;
    text-align: center;
    width: fit-content;
    padding: 6px;
    outline: none;
    border-radius: 12px;
}

form button:hover{
    background-color: #ec9615;
}


  
footer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    box-shadow: 0px 1px 10px black;
    color: #cce7d0;
}

.footer-l {
    width: 40%;
}

.col h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 800;
}

.follow h1 {
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 7px;
}

.follow li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.follow {
    width: 100px;
    margin: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-r {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-r .about {
    margin: 30px;
    padding-right: 30px;
}

.footer-r .app {
    padding: 30px;
}

.app h1 {
    padding-bottom: 10px;
}

.section1{
    padding-bottom: 22%;
}


.some-prod {
    text-align: center;
}

.cont-prod {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.cont-prod .product {
    width: 23%;
    border: 1px solid #e3e6f3;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}

.cont-prod .product:hover {
    box-shadow: 0px 10px 20px gray;
    opacity: 0.9;
}

.img-pro {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin: 5px;
}

.start img {
    width: 15px;
    height: 15px;
}

.product {
    text-align: center;
    margin: 50px;
}

.product .desc {
    text-align: center;
    padding: 10px 7px;
}

.desc .span {
    color: #060606;
    font-size: 12px
}

.desc h5 {
    padding-top: 8px;
    color: #1a1a1a;
    font-size: 15px;
}

.desc {
    position: relative;
}
